#### build a regression model to predict property crimes.
multivariable regression

Propertycrime=Î±+Population+Population**2 + Murder+Robbery
 
The 'population' variable is already set for you, but you will need to create the last three features. Robbery and Murder are currently continuous variables. For this model, please use these variables to create categorical features where values greater than 0 are coded 1, and values equal to 0 are coded 0. 

Do some graphing to see if there are any anomalous cases, and decide how you want to deal with them

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:

df=pd.read_excel('../../datasets/NEW_YORK-Offenses13.xlsx')
#

In [9]:
df.head(5)

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861.0,0.0,0.0,NaN,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0
1,Addison Town and Village,2577.0,3.0,0.0,NaN,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0
2,Akron Village,2846.0,3.0,0.0,NaN,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0
3,Albany,97956.0,791.0,8.0,NaN,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,NaN
4,Albion Village,6388.0,23.0,0.0,NaN,3.0,4.0,16.0,223.0,53.0,165.0,5.0,NaN

In [ ]:
#basic graphs for each variable

In [10]:
#df.rename(index=str, columns={"A": "a", "B": "c"})
print(list(df))

['City', 'Population', 'Violent\ncrime', 'Murder and\nnonnegligent\nmanslaughter', 'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2', 'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary', 'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3']

In [33]:
df.rename(index=str,columns={"Murder and\nnonnegligent\nmanslaughter":"Murder"},inplace=True)

In [34]:
print(list(df))

['City', 'Population', 'Violent\ncrime', 'Murder', 'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2', 'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary', 'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3', 'PropertyCrime', 'r']

In [37]:

df['robCode']=df['Robbery'].apply(lambda x: 1 if x > 0 else 0)
df['murderCode']=df['Murder'].apply(lambda x: 1 if x > 0 else 0)

df['PropertyCrime']=(df['Population'] + df['Population']**2)*100 + df['r']*10 + df['murderCode']

In [38]:
df.tail(5)

,City,Population,Violent crime,Murder,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,PropertyCrime,r,robCode,murderCode
343,Woodbury Town,10685,3,0,NaN,0,2,1,541,9,529,3,NaN,11417991010,1,1,0
344,Woodridge Village,829,7,0,NaN,0,0,7,17,8,9,0,0.0,68807000,0,0,0
345,Woodstock Town,5931,2,0,NaN,0,0,2,58,13,45,0,NaN,3518269200,0,0,0
346,Yonkers,199134,1036,6,NaN,25,390,615,2368,470,1662,236,10.0,3965454909011,1,1,1
347,Yorktown Town,36643,15,0,NaN,0,2,13,334,45,287,2,NaN,134274609210,1,1,0

In [ ]:
# onehot using OneHotEncoder example

In [20]:


from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
# define example
data = ['cold', 'cold', 'warm', 'cold', 'hot', 'hot', 'warm', 'cold', 'warm', 'hot']
values = array(data)
print(values)

['cold' 'cold' 'warm' 'cold' 'hot' 'hot' 'warm' 'cold' 'warm' 'hot']

In [21]:
# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)
print(integer_encoded)

[0 0 2 0 1 1 2 0 2 1]

In [22]:
# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
print(onehot_encoded)

[[1. 0. 0.]
 [1. 0. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]]

In [26]:
# invert first example
inverted = label_encoder.inverse_transform([argmax(onehot_encoded[2, :])])
print(inverted)

['warm']

C:\Users\Vadim\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:171: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff: